h1 {
  color: #2f70af;
  margin-bottom: 30px;
}

.tasklist {
  width: 350px;
  min-height: 50vh;
  margin: auto;
  padding: 50px 0;
}

.tasklist-form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.tasklist-form__input {
  width: 350px;
  height: 45px;
  padding: 0 15px;
}

.tasklist-form__input:focus {
  outline-color: #2f70af;
}

.list {
  padding: 0;
  list-style-type: none;
}

.list__item {
  padding: 10px 5px;
  display: flex;
  align-items: center;
}

.list li {
  border: 1px solid #333;
  border-top: none;
}

.list li:nth-of-type(1) {
  border-top: 1px solid #333;
}

.list__item-title {
  margin: 0;
  padding: 0 15px;
}
