.add-item {
  width: 100%;
  min-height: 50vh;
  padding: 15px;
  background-color: rgb(230, 248, 230);
}

.items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.item {
  height: 35px;
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 0 10px;
  border: 2px solid gray;
}

.item > span {
  margin-right: 10px;
}

.item > button {
  padding: 3px 5px;
  cursor: pointer;
  border: none;
  background-color: lightcoral;
}

.input {
  height: 35px;
  margin: 5px;
  padding: 0 10px;
  border: 2px solid gray;
  background-color: transparent;
}
