.phonebook {
  width: 100%;
  min-height: 50vh;
  padding: 50px 15px;
  background-color: lightblue;
}

.phonebook__form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.phonebook__label-text {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.phonebook__form-input {
  height: 30px;
  padding: 0 10px;
}

.phonebook__form-input::-webkit-outer-spin-button,
.phonebook__form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.phonebook__form-btn {
  width: 150px;
  height: 30px;
  cursor: pointer;
  border: none;
  background: lightseagreen;
}

.phonebook__title {
  margin-top: 30px;
}

.phonebook__table-head {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.phonebook__table-body {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.phonebook__btn {
  width: 150px;
  height: 30px;
  cursor: pointer;
  border: none;
  background: lightcoral;
}
